<html>

<head>
    <title>Profile</title>
</head>

@model Customer

<body>
    <h1>Profile</h1>
    <h2>Basic</h2>
    <p><label asp-for="Name"></label>: @Model.Name</p>
    <p><label asp-for="TFN"></label>: @(String.IsNullOrEmpty(Model.TFN) ? "<empty>" : Model.TFN)</p>
    <h2>Contacts</h2>
    <p><label asp-for="Mobile"></label>: @(String.IsNullOrEmpty(Model.Mobile) ? "<empty>" : Model.Mobile)</p>
    <h2>Address</h2>
    <p><label asp-for="Address"></label>: @(String.IsNullOrEmpty(Model.Address) ? "<empty>" : Model.Address)</p>
    <p><label asp-for="City"></label>: @(String.IsNullOrEmpty(Model.City) ? "<empty>" : Model.City)</p>
    <p><label asp-for="State"></label>: @(String.IsNullOrEmpty(Model.State) ? "<empty>" : Model.State)</p>
    <p><label asp-for="Postcode"></label>: @(String.IsNullOrEmpty(Model.Postcode) ? "<empty>" : Model.Postcode)</p>
    <a asp-action="">Edit Profile</a>
    <h2>Security</h2>
    <a asp-action="">Change Password</a>
</body>

</html>