@model List<BillPayViewModel>
@{
    ViewBag.Title = "BillPay";
}

<div class="grow flex items-center justify-center">
    <div class="border-2 border-dashed border-black rounded-lg px-24 py-16">
        <div class="flex justify-between mt-3">
            <h1 class="text-4xl tracking-wider mb-3">BillPay</h1>
            <a asp-action="Add" class="btn btn-neutral">Add</a>
        </div>
        <table class="table table-zebra">
            <tr>
                <th>Account Number</th>
                <th>Payee</th>
                <th>Amount</th>
                <th>Next Payment Schedule</th>
                <th>Period</th>
                <th>Action</th>
            </tr>
            @foreach (var billPayViewModel in Model)
            {
                var localDT = DateTime.Now;
                localDT = new DateTime(localDT.Year, localDT.Month, localDT.Day, localDT.Hour, localDT.Minute, 0);
                var isOverdue = billPayViewModel.ScheduleTimeLocal < localDT;
                var scheduleTimeLocalStr = billPayViewModel.ScheduleTimeLocal.ToString("dd/MM/yyyy hh:mm tt").ToUpper();
                <tr>
                    <td>@billPayViewModel.AccountNumber</td>
                    <td>@billPayViewModel.PayeeName</td>
                    <td>@billPayViewModel.Amount</td>
                    @{
                        if (isOverdue)
                        {
                            <td>@scheduleTimeLocalStr (Overdue)</td>
                        }
                        else
                        {
                            <td>@scheduleTimeLocalStr</td>
                        }
                    }
                    <td>@billPayViewModel.Period</td>
                    <td>
                        <a asp-action="Cancel" asp-route-id="@billPayViewModel.BillPayID" class="btn btn-outline btn-xs">
                            @{
                                if (isOverdue)
                                {
                                    <span>Pay</span>
                                }
                                else
                                {
                                    <span>Cancel</span>
                                }
                            }
                        </a>
                    </td>
                </tr>
            }
            <tr></tr>
        </table>
    </div>
</div>