@model List<BillPayViewModel>
@{
    ViewBag.Title = "BillPay";
}

<div class="grow flex items-center justify-center">
    <div class="border-2 border-solid border-black rounded-lg px-24 py-16">
        <div class="flex justify-between mt-3">
            <h1 class="text-4xl tracking-wider mb-3">BillPay</h1>
            <a asp-action="Add" class="btn btn-neutral">Add</a>
        </div>
        @if (TempData.ContainsKey("ActionError"))
        {
            <span class="text-error mt-1 mb-2">@TempData["ActionError"]</span>
        }
        <table class="table table-zebra">
            <tr>
                <th><label asp-for="@Model.First().AccountNumber"></label></th>
                <th><label asp-for="@Model.First().PayeeName"></label></th>
                <th><label asp-for="@Model.First().Amount"></label></th>
                <th><label asp-for="@Model.First().ScheduleTimeLocal "></label></th>
                <th><label asp-for="@Model.First().Period "></label></th>
                <th>Action</th>
            </tr>
            @foreach (var billPayViewModel in Model)
            {
                var localDT = DateTime.Now;
                localDT = new DateTime(localDT.Year, localDT.Month, localDT.Day, localDT.Hour, localDT.Minute, 0);
                var isOverdue = billPayViewModel.ScheduleTimeLocal < localDT;
                <tr>
                    <td>@Html.DisplayFor(m => billPayViewModel.AccountNumber)</td>
                    <td>@Html.DisplayFor(m => billPayViewModel.PayeeName)</td>
                    <td>@Html.DisplayFor(m => billPayViewModel.Amount)</td>
                    <td>@Html.DisplayFor(m => billPayViewModel.ScheduleTimeLocal) @((isOverdue) ? "(Overdue)" : "")</td>
                    <td>@((billPayViewModel.Period == '0') ? "One-time" : "Monthly")</td>
                    <td>
                        <a asp-action="Action" asp-route-id="@billPayViewModel.BillPayID" class="btn btn-outline btn-xs">
                            <span>@((isOverdue) ? "Retry" : "Cancel")</span>
                        </a>
                    </td>
                </tr>
            }
            <tr></tr>
        </table>
    </div>
</div>